<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GeneralMag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/products/all" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <div *ngFor = "let category of categories">
                <a class="dropdown-item" routerLink="/products/{{category}}">{{category}}</a>
                <div class="dropdown-divider"></div>
            </div>
            <a class="dropdown-item" routerLink="/products/all">all products</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">logIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#">My account</a>
        </li>
      </ul>
    </div>
  </nav>
  